/*
 * d3 gallery style
 */

html {
    min-width: 1040px;
}

/*
body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 1em auto 4em auto;
  position: relative;
  tab-size: 2;
  width: 960px;
}*/

h1 {
    font-size: 64px;
    font-weight: 300;
    letter-spacing: -2px;
    margin: .3em 0 .1em 0;
    text-align: center;
}

h2 {
    margin-top: 0.7em;
}

h1, h2 {
    text-rendering: optimizeLegibility;
}

/*
h2 a {
  color: #ccc;
  left: -20px;
  position: absolute;
  width: 740px;
}*/

.date {
    color: #aaa;
    margin-left: 1em;
}

footer {
    margin-top: 8em;
}

/*
aside {
  font-size: small;
  left: 780px;
  position: absolute;
  text-align: right;
  width: 180px;
}*/
/*
p {
  line-height: 1.5em;
  width: 720px;
}

blockquote {
  width: 640px;
}

li {
  width: 680px;
}*/

a {
    color: steelblue;
}

a:not(:hover) {
    text-decoration: none;
}

pre, code, textarea {
    font-family: "Menlo", monospace;
    line-height: normal;
}

textarea {
    font-size: 100%;
}

/*
pre {
  border-left: solid 2px #ccc;
  padding-left: 18px;
  margin: 2em 0 2em -20px;
  width: 960px;
  overflow-x: auto;
}*/

.html .value,
.javascript .string,
.javascript .regexp {
    color: #756bb1;
}

.html .tag,
.css .tag,
.javascript .keyword {
    color: #3182bd;
}

aside,
.comment {
    color: #636363;
}

.html .doctype,
.javascript .number {
    color: #31a354;
}

.html .attribute,
.css .attribute,
.javascript .class,
.javascript .special {
    color: #e6550d;
}

/*
 * Navigator specific styles
 */

svg.graphView {
    /*  width: 960px;
      height: 500px;*/
    width: 99%;
    height: 99%;
    /*border: 1px solid #DEDEDE;*/
    /*margin-bottom: 2em;*/
}

.node circle {
    stroke: #fff;
    stroke-width: 1.5px;
    cursor: pointer;
}

g.paper circle {
    fill: #292;
}

g.paper.hover circle {
    stroke: #292;
}

g.paper.hover text {
    fill: #292;
}

g.author circle {
    fill: #1F77B4;
}

g.author.hover circle {
    stroke: #1F77B4;
}

g.author.hover text {
    fill: #1F77B4;
}

g.dataset circle {
    fill: #FF7F0E;
}

g.dataset.hover circle {
    stroke: #FF7F0E;
}

g.dataset.hover text {
    fill: #FF7F0E;
}

g.journal circle {
    fill: #D62728;
}

g.journal.hover circle {
    stroke: #D62728;
}

g.journal.hover text {
    fill: #D62728;
}

g.blog circle {
    fill: #671eba;
}

g.blog.hover circle {
    stroke: #671eba;
}

g.blog.hover text {
    fill: #671eba;
}

g.hover circle {
    fill: #fff;
    stroke-width: 1.5px;
}

.node text {
    fill: #fff;
    pointer-events: none;
}

.link {
    stroke: #888;
    stroke-width: 1.5px;
}

.link.hover {
    stroke: #444;
    stroke-width: 1.5px;
}

.similarity {
    stroke-dasharray: 7, 7;
}

.citation {
}

.isAuthor {
}

/* layout */
.row, .col {
    position: absolute;
}

.row {
    left: 0;
    right: 0;
}

.col {
    top: 0;
    bottom: 0;
}

.scroll-x {
    overflow-x: auto;
}

.scroll-y {
    overflow-y: auto;
}

.left.col {
    overflow: scroll;
    width: 250px;
    left: 0
}

.right.col {
    left: 270px;
    right: 0;
}

.header.row {
    height: 120px;
    line-height: 120px;
}

.body.row {
    top: 120px;
    bottom: 20px;
}

.footer.row {
    bottom: 0;
    /*line-height: 250px;*/
}

#navigation {
    margin: 10px 0;
}

#search-sidebar {
    border-right: #8c8c8c solid 1px;
    background: #ffffff;
    font-size: small;
}

.search-result {
    /*border-top:  darkgray solid 1px;*/
    /*border-bottom: darkgray solid 1px;*/
    padding: 3px 12px 2px 12px;
    margin: 1px 10px;
    border: white solid 1px;
}

.search-result .authors {
    font-style: italic;
}

#navigation > li:first-child {
    margin-left: 10px;
}

#navigation > li:last-child {
    margin-right: 6px;
}

#search-form {
    margin: 15px 10px;
}

.search-result {
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.search-result.paper {
    background: #292;
    border-color: #292;
}

.search-result.paper:hover {
    background: white;
    color: #292;
    border-color: #292;
}

.search-result.author {
    background: #1F77B4;
    border-color: #1F77B4;
}

.search-result.author:hover {
    background: white;
    color: #1F77B4;
    border-color: #1F77B4;
}

.search-result.dataset {
    background: #FF7F0E;
    border-color: #FF7F0E;
}

.search-result.dataset:hover {
    background: white;
    color: #FF7F0E;
    border-color: #FF7F0E;
}

.search-result.journal {
    background: #D62728;
    border-color: #D62728;
}

.search-result[class*="journal"]:hover {
    background: white;
    color: #D62728;
    border-color: #D62728;
}
.search-result[class*="journal"] {
    background: #D62728;
    border-color: #D62728;
}

.search-result.journal:hover {
    background: white;
    color: #D62728;
    border-color: #D62728;
}

.search-result.blog {
    background: #671eba;
    border-color: #671eba;
}

.search-result.blog:hover {
    background: white;
    color: #671eba;
    border-color: #671eba;
}

.search-result .title span {
    margin-left: 3px;
    margin-bottom: 3px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.loading_message {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 2em;
}

/* Align modal to center vertically */

.modal {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

/* END of Align modal to center vertically */

